.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  padding: 1rem;
  flex-wrap: nowrap;
  gap: 1rem;
}

.navbar-title h1 {
  font-size: clamp(1.2rem, 3vw, 2rem); /* responsive text size */
}

.navbar-title h1 span {
  margin-left: 0.5rem;
  color: #00ddff;
  letter-spacing: 0.2rem;
  font-family: "Permanent Marker", cursive;
}

.navbar-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.navbar-search {
  background-color: #212121;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem;
  border-radius: 1rem;
  flex-grow: 1;
  min-width: 0;
  max-width: 500px;
  width: 100%;
}

.search-icon {
  color: #00ddff;
}

.navbar-search input {
  background-color: transparent;
  border: none;
  color: #00ddff;
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.2rem;
  width: 100%;
  min-width: 0;
}

.navbar-search input::placeholder {
  color: #00ddff;
}

.navbar-search input:focus {
  outline: none;
}

.profile-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

/* Responsive Adjustments */
@media screen and (max-width: 1080px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-actions {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-title {
    text-align: left;
    width: 100%;
  }

  .navbar-search {
    width: 100%;
  }
}
